<div class="row">
    <div class="col-md-8 col-xs-12">
        <div class="panel">
            <div class="panel-body todo-list">
              Cereals
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-xs-12">
        <div class="panel">
            <div class="panel-body todo-list">
                Washing-up liquid
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-xs-12">
        <div class="panel">
            <div class="panel-body todo-list">
                <div style="float: right;" ng-init="display = 1" ng-click="display = !display"><i class="fa fa-comment-o"></i></div>
                4 pizzas
            </div>
            <footer class="panel-footer" ng-hide="display">
                Take at least a vegan pizza for Mike
            </footer>
        </div>
    </div>
</div>
