<!-- <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <!-- <i class="fa fa-bars"></i> -->
        <!-- Roomies
      </a>
    </div>
  </div>
</nav> -->

<div class="app-wrapper">
  <div ui-view="content" />
</div>

<nav class="navbar navbar-default navbar-fixed-bottom bottom">
  <div class="container-fluid">
    <div class="col-xs-6" ui-sref="home.list"><i class="fa fa-list-alt"></i></div>
    <div class="col-xs-6" ui-sref="home.news"><i class="fa fa-user"></i></div>
  </div>
</nav>
