<div class="row-fluid">
  <div class="col-xs-12 no-margin logo">
    <div class="login-logo">
      <!-- Roomies logo -->
      <img src="assets/images/logo-xs-2.png" alt="Roomies" />
      <!-- <img src="assets/images/logo-xs.png" alt="Roomies" /> -->
    </div>
  </div>

  <div class="col-xs-12">
    <div class="login-button" ng-click="ctrl.login('FB')">
      <i class="fa fa-facebook"></i> Login with Facebook
    </div>
  </div>
  <div class="col-xs-12">
    <div class="login-button" ng-click="ctrl.login('G')">
      <i class="fa fa-google"></i> Login with G+
    </div>
  </div>
</div>
