<div class="row">
  <div class="col-xs-12 welcome">
    <h3>Welcome John Doe!</h3>
    <p>We are very pleased that you choose to join the Roomies Community. Before
       you can start using the application, we would appreciate that you confirm
      some of the informations below.</p>
  </div>

  <div class="col-xs-12">
    <div class="informations">
      <div class="form-group">
        <label for="firstname">Firstname:</label>
        <input type="text" class="form-control" id="firstname" placeholder="Firstname" ng-model='ctrl.user.firstname'>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Lastname:</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Lastname" ng-model='ctrl.user.lastname'>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Email <span class="info">(we won't share it, we promise)</span> :</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model='ctrl.user.email'>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="validate-data" ng-click="ctrl.validate(ctrl.user)">
      Validate
    </div>
  </div>

</div>
